
body {
    font-family: 'Open Sans', sans-serif; font-weight: 400;
    font-size: 18px;
    line-height: 1.66em;
}
.font-light {
    font-family: 'Open Sans', sans-serif; font-weight: 300;
}
.font-norm {
    font-family: 'Open Sans', sans-serif; font-weight: 400;
}
.font-bold {
    font-family: 'Open Sans', sans-serif; font-weight: 600;
}
p.lead {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66em;
}
p.lead b{
    font-weight: 600;
}
.header {
    position: relative;
    width: 100%;
    padding-top: 71px;
}
.header nav {
    font-variant: small-caps;
}
.header .active a.page-scroll{
    color: #27bfc2;
    background-color: #f3f3f3;
}
.header .cover-slogan {
    margin-top: 206px;
    color: #fff;
}
.header h1, .header h3 {
    line-height: 1.5em;
}
.header h1 {
    margin-bottom: 115px;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 300;
}
.header #some-bar {
    margin-top: 25px;
}
.header .btn {
  padding: 6px 55px;
  border-radius: 0;
  border: 0;
  background-color: #01020b;
    -webkit-transition: background-color .2s ease-in-out,padding .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out,padding .2s ease-in-out;
    transition: background-color .2s ease-in-out,padding .2s ease-in-out;
}
.header .btn:hover {
    background-color: white;
}
.header .btn a {
  font-size: 24px;
  color: white;
    -webkit-transition: color .2s ease-in-out,padding .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,padding .2s ease-in-out;
    transition: color .2s ease-in-out,padding .2s ease-in-out;
}
.header .btn:hover a{
  color: #222;
    text-decoration: none;
}
.header .fa {
    color: #222222;
}
.header .fa-circle {
    color: white;
    -webkit-transition: color .2s ease-in-out,padding .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,padding .2s ease-in-out;
    transition: color .2s ease-in-out,padding .2s ease-in-out;
}
.header a .fa {
    -webkit-transition: color .2s ease-in-out,padding .2s ease-in-out;
    -moz-transition: color .2s ease-in-out,padding .2s ease-in-out;
    transition: color .2s ease-in-out,padding .2s ease-in-out;
}
.header a:hover .fa {
    color: white;
}
.header a:hover .fa-circle {
    color: #01020b;
}
#cover-container {
    height: 629px;
}
section {
    padding-bottom: 20px;
}

div#who-content {
    background-color: #27bfc2;
}
#who-content p.lead {
    margin-bottom: 46px;
}
section {
    position: relative;
}
section h1 {
    font-family: 'Merriweather', serif;
    margin: 130px 0 50px 0;
}
#who-section h1 {
    color: #fff;
}

div.cover{ width:100%; height: 700px; display: inline-block; left:0; top:0; overflow: hidden; position: absolute; }
section div.cover { height: 400px; }

div.cover .img {
    position: relative;
    top: -150px;
    height: 1000px;
    background: url(front_bg.png) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar-right {
    font-size: 24px;
}
.navbar-default .navbar-nav>li>a {
  color: #333;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li.active>a:hover {
  color: #27bfc2;
}
.navbar {
    padding: 20px 0;
    -webkit-transition: background .2s ease-in-out,padding .2s ease-in-out;
    -moz-transition: background .2s ease-in-out,padding .2s ease-in-out;
    transition: background .2s ease-in-out,padding .2s ease-in-out;
}

.navbar {
    padding: 10px 0;
    font-size: 24px;
    -webkit-transition: font-size .2s ease-in-out,padding .2s ease-in-out;
    -moz-transition: font-size .2s ease-in-out,padding .2s ease-in-out;
    transition: font-size .2s ease-in-out,padding .2s ease-in-out;
}
.top-nav-collapse {
    padding: 0;
}
div#logo {
    font-size: 27px;
    line-height: 15px;
    color: #333;
    -webkit-transition: all .2s ease-in-out,padding .2s ease-in-out;
    -moz-transition: all .2s ease-in-out,padding .2s ease-in-out;
    transition: all .2s ease-in-out,padding .2s ease-in-out;
}
.top-nav-collapse div#logo {
}
.what-sub {
    font-variant: small-caps;
    font-weight: bold;
}


.employee {
    font-size: 18px;
    padding-bottom: 1em;
}
.employee h4 {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 700;
}
.employee h3 {
    display: inline-block;
    margin-top: 0;
    color: #fff;
}
.employee img {
    padding-bottom: 12px;
    padding-top: 10px;
}
.employee p {
    margin-bottom: 20px;
}
#footer {
    background-color: #555;
    margin: 0;
}
#footer ul {
    margin: auto;
}
#gmap {
    width: 100%;
    height: 400px;
    line-height: 1.2em;
}
#copyright-footer {
    padding: 6px;
    background-color: #555;
}
.address {
    padding-bottom: 30px;
}
#footer, #copyright-footer {
    background-color: #333;
    color: #fff;
}
.quote-col {
    color: #fff;
    font-style: italic; 
}
.quote-col p {
    padding-right: 40px;
}

.text-right .img-responsive {
    margin-left: auto;
}
.fa-li {
    top: 0.305em;
}
a.email {
    display: inline-block;
    word-break: break-all;
}


@media (min-width: 1200px){
    h1 {
        font-size: 60px;
    }
    .container {
        width: 1000px;    
    }
}


